/* Завдання 1 */
.btn:hover {
    background: #ff0;
    color: #f00;
}
/* Завдання 2 */
h1:hover {
    background-color: #0f0;
}
/* Завдання 3 */
.link:visited {
    color: #ff0;
}
/* Завдання 4 */
#sidebar:link {
    color: #f00;
}
/* Завдання 5 */
.btn:active {
    background: #00f;
}
/* Завдання 6 */
.btn:focus {
    background: orange;
    color: orange;
}
/* Завдання 7 */
#target:target {
    color: #fff;
    background-color: #0f0;
}
/* Завданняv 8 */
#checkbox:checked {
    color: #fff;
    background-color: #00f;
}
/* Завдання 9 */
*:lang(uk) {
    color: #00f;
}
/* Завдання 10 */
.form-control:enabled {
    background: #ff0;
    color: #f00;
}
/* Завдання 11 */
input:disabled {
    background: #ff0;
}
/* Завдання 12 */
input:not(:read-only) {
    background-color: #ff0;
}
/* Завдання 13 */
input:read-only {
    background-color: #ff0;
}
/* Завдання 14 */
input[type='text']:valid {
    background: #0f0;
}
input[type='text']:invalid {
    background: #f00;
}
/* Завдання 15 */
textarea:optional {
    background: #f00;
}
/* Завдання 16 */
input[type='number']:out-of-range {
    color: #f00;
}
/* Завдання 17 */
input[type='number']:in-range {
    color: #0f0;
}
/* Завдання 18 */
input[type='text']:placeholder-shown {
    background: #f00;
}
/* Завдання 19 */
button:focus-within {
    background: #ff0;
    color: #fff;
}
/* Завдання 20 */
form:invalid {
    background-color: #f00;
}